/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Como';
    src: url('../fonts/Como_SemiBold.woff2') format('woff2'), /* For modern browsers */
         url('../fonts/Como_SemiBold.woff') format('woff'),   /* For older browsers */
         url('../fonts/Como_SemiBold.ttf') format('truetype'); /* For older browsers */
    font-weight: 400; /* Adjust this if necessary */
    font-style: normal;
}

body {
    font-family: 'Como', sans-serif;
    color: #fff0e1;
    background-color: #047562;

    /* Alternating dark and light green bands */
    background-image: repeating-linear-gradient(
        to right,
        #073130 0,
        #073130 25%,
        #0d3b3b 25%,
        #0d3b3b 50%
    );
    background-size: 200px 100%;

    /* Left border shadow */
    box-shadow: -5px 0 10px #011313;
    margin: 0; /* To remove any default body margin */
}

/* underline img styling */
.hero_img {
    max-width: 300px;
}

.why_us_img {
    max-width: 600px;
}

.uiux_img, .expertise_img, .testimonial_img {
    max-width: 400px;
    rotate: 2deg;
}

.pricing_img{
    min-width: 800px;
    rotate: 2deg;
}

.icon {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.icon span{
    padding: 8px 10px;
    font-size: 20px;
}

.logo-icon {
    width: 40px;
    height: 40px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero-content h1 {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.hero-content h1 span {
    display: block;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2em;
    margin-top: 20px;
}

.highlight {
    color: #e7f0f2; /* Gold color for highlight */
    font-weight: 800;
}

.cta-button {
    background-color: #fff0e1;
    color: #0c3b3d;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 25px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tagline {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 0.9em;
    color: #e7f0f2;
}

.projects-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-showcase a {
    flex: 1;
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
}

.projects-showcase img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.projects-showcase a:hover img {
    transform: scale(1.1);
}

/* Why Clients Choose Us Section */
.why-choose-us {
    background-color: #0f3b3d; /* Dark green background as in the image */
    padding: 2rem;
    text-align: center;
    color: #fff0e1;
    border-radius: 30px;
    border: 2px solid #fff0e1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
}

.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* Make it wrap for mobile responsiveness */
}

.feature {
    padding: 1rem;
    border-radius: 10px;
    width: 31%;
    text-align: center;
    transition: transform 0.3s ease;
}

.feature h3 {
    font-size: 1.8em;
    color: #fff0e1;
    margin-top: 0.5em;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #033312;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff0e1;
}

.feature p {
    font-size: 1rem;
    color: #c3d6d6;
    line-height: 1.5;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 100%;
        max-width: 300px;
    }
}
/*//////////////////////////////////*/

/* UI/UX Designs Section */
.ui-ux-designs {
    padding: 2em 1em;
    text-align: center;
}

.design-gallery {
    display: grid;
    grid-template-rows: repeat(10, auto); /* Use auto to allow images to fit */
    grid-template-columns: 4fr 3fr 2fr 2fr; /* Original layout for larger screens */
    gap: 2.5px; /* Smaller gap for a tighter layout */
    width: 75%;
    height: 80vh; /* Allow height to adjust based on content */
    margin: 0 auto;
    background-color: #000;
    padding: 2.5px;
}

/* Position images according to the layout */
.design-gallery a:nth-child(1) { 
    grid-column: 1 / 2;
    grid-row: 1 / 4; 
}
.design-gallery a:nth-child(2) { 
    grid-column: 1 / 2;
    grid-row: 4 / 9;
}
.design-gallery a:nth-child(3) { 
    grid-column: 1 / 2;
    grid-row: 9 / 10;
}
.design-gallery a:nth-child(4) { 
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
}
.design-gallery a:nth-child(5) { 
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}
.design-gallery a:nth-child(6) { 
    grid-column: 2 / 3;
    grid-row: 6 / 9; 
}
.design-gallery a:nth-child(7) { 
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}
.design-gallery a:nth-child(8) { 
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}
.design-gallery a:nth-child(9) { 
    grid-column: 3 / 4;
    grid-row: 7 / 10;
}
.design-gallery a:nth-child(10) { 
    grid-column: 4 / 5;
    grid-row: 1 / 10;
}

.design-gallery a {
    border: 2px solid #000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.design-gallery a img {
    width: 100%; /* Make the image fill the anchor */
    height: auto; /* Maintain the aspect ratio */
    max-height: 100%; /* Prevent the image from exceeding the anchor's height */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.design-gallery a img:hover{
    transform: scale(1.05);
    background-color: #c0c0c0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Mobile responsiveness: one image per row */
@media screen and (max-width: 767px) {
    .design-gallery {
        grid-template-columns: 1fr; /* 1 column for mobile devices */
        grid-template-rows: auto; /* Allow rows to adjust to content */
        height: 50vh
    }
    .design-gallery img {
        height: auto; /* Ensure images maintain aspect ratio */
    }
}

.pricing-section, .testimonials, .our-expertise, .footer {
    background: linear-gradient(180deg, #0f2928, #030909, #0f2928);
    padding: 20px;
}
/* Our Expertise Section */
.our-expertise {
    text-align: center;
    padding: 2em 0.2em;
}

.why-choose-us h2, .our-expertise h2, .ui-ux-designs h2, .testimonials h2, .pricing-section h2 {
    font-size: 4em;
    color: #fff0e1;
}

.expertise-description {
    font-size: 1.5em;
    color: #A8D5D5;
    margin-bottom: 2em;
}

.expertise-cards {
    position: relative;
    width: 90%;
    height: 500px;
    display: flex;
    margin: 0 auto;
}

.expertise-card {
    position: absolute;
    width: 28.5%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #030909, #0f2928, #030909);
    border: 1px solid #e1cf9b;
    color: #fff0e1;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    animation: bounce 3s ease-in-out infinite;
}

/* Positioning, angles, and overlapping for each card */
.expertise-card:nth-child(1) {
    top: 5px;
    left: 9%;
    transform: rotate(-3deg);
    --rotate-angle: -3deg;
    z-index: 2; /* Bring this card forward */
}

.expertise-card:nth-child(2) {
    left: 38%;
    transform: rotate(5deg);
    --rotate-angle: 5deg;
    z-index: 1; /* Default */
}

.expertise-card:nth-child(3) {
    right: 9%;
    transform: rotate(-12deg);
    --rotate-angle: -12deg;
    z-index: 3; /* Bring this card forward, above Child 1 */
}

.expertise-card:nth-child(4) {
    top: 230px;
    left: 12%;
    transform: rotate(-15deg);
    --rotate-angle: -15deg;
    z-index: 4; /* Bring this card in front of all others */
}

.expertise-card:nth-child(5) {
    top: 230px;
    left: 38%;
    transform: rotate(-4deg);
    --rotate-angle: -4deg;
    z-index: 1; /* Default */
}

.expertise-card:nth-child(6) {
    top: 230px;
    right: 9%;
    transform: rotate(8deg);
    --rotate-angle: 8deg;
    z-index: 1; /* Default */
}


/* Smooth bounce animation that retains the initial rotation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0) rotate(var(--rotate-angle));
    }
    50% {
        transform: translateY(-15px) rotate(var(--rotate-angle));
    }
}


/* Testimonials Section */
.testimonials {
    text-align: center;
    padding: 2em 1em;
}

.testimonials-description {
    font-size: 1em;
    color: #A8D5D5;
    margin-bottom: 1.5em;
}

.card-testimonials {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: 2fr 1.5fr 2fr;
    gap: 10px;
    width: 80%;
    height: 120vh;
    margin: 0 auto;
}

.testimonial {
    background-color: #d3d3d3;
    border: 2px solid #000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.testimonial:hover {
    transform: scale(1.05);
    background-color: #c0c0c0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Positioning each item for precise alignment */
.item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.item2 {
    grid-column: 1 / 2;
    grid-row: 7 / 12;
}

.item3 {
    grid-column: 1 / 2;
    grid-row: 12 / 14;
}

.item4 {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

.item5 {
    grid-column: 2 / 3;
    grid-row: 5 / 9;
}

.item6 {
    grid-column: 2 / 3;
    grid-row: 9 / 14;
}

.item7 {
    grid-column: 3 / 4;
    grid-row: 1 / 9;
}

.item8 {
    grid-column: 3 / 4;
    grid-row: 9 / 14;
}

/* Pricing Section */
.pricing-section {
    text-align: center;
    padding: 2rem;
    color: #fff0e1;
}

.pricing-section::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#fff0e1 1px, transparent 1px);
    background-size: 25px 25px;
    opacity: 0.6;
    transform: translateX(-50%);
}

.toggle-switch {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
    width: 300px;
    padding: 5px;
    border: 1px solid #fff0e1;
}

.toggle {
    background-color: #1a5252;
    color: #fff0e1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle.active {
    background-color: #24a19c;
}

.toggle-switch button {
    padding: 5px 50px;
    font-size: 0.8em;
}

.discount {
    background-color: #fc2020;
    color: #fff0e1;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    position: absolute;
    top: -15px;
    right: -20px;
    width: 70px;
    padding: 5px;
    rotate: 30deg;
}

.pricing-section h2 {
    margin: 1rem 0;
}

.plans {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.plan-card {
    background: linear-gradient(90deg, #030909, #0f2928, #030909);
    padding: 3rem;
    border-radius: 10px;
    width: 25%;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

/* Default highlight for the center card */
.plan-card.highlighted {
    background: linear-gradient(90deg, #0f2928, #030909, #0f2928);
    transform: scale(1.1);
}

/* De-emphasize non-hovered cards and reset highlighted button style */
.plans:hover .plan-card:not(:hover) {
    transform: scale(0.95);
    background: linear-gradient(90deg, #030909, #0f2928, #030909);
}

/* Revert .highlighted .btn style when another card is hovered */
.plans:hover .plan-card:not(:hover) .btn {
    background-color: #1a5252;
    color: #fff0e1;
    border-radius: 8px;
}

/* Emphasize only the hovered card */
.plan-card:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #0f2928, #030909, #0f2928);
}

/* Styles within the hovered .plan-card */
.plan-card:hover .btn {
    background-color: #fff0e1;
    color: #1a5252;
    border-radius: 20px;
    cursor: pointer;
}

/* Highlight button styles */
.plan-card h3 {
    font-size: 2rem;
    color: #e7f0f2;
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: #b5f3f0;
}

/* Default button styling */
.btn {
    background-color: #1a5252;
    color: #fff0e1;
    padding: 0.5rem 3.5rem;
    border: 1px solid #fff0e1;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Highlighted button style and hover effect */
.highlighted .btn, .btn:hover {
    background-color: #fff0e1;
    color: #1a5252;
    border-radius: 20px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 1rem;
}

ul li {
    font-size: 0.9rem;
    color: #c3d6d6;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

ul li i {
    color: #33ff77;
    margin-right: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan-card {
        width: 100%;
        max-width: 300px;
    }
}


.footer {
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    height: 100px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#fff0e1 1px, transparent 1px);
    background-size: 25px 25px;
    opacity: 0.6;
    transform: translateX(-50%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-name {
    color: #fff0e1;
    font-size: 1.2em;
    font-weight: bold;
}

.social-icons a {
    margin-left: 15px;
    color: #fff0e1;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.social-icons a:hover {
    transform: scale(1.1);
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-section {
        margin-bottom: 15px;
    }

    .social-icons a {
        margin-left: 10px;
    }
}
